{% extends 'home.html'%}
{% block body %}
<div style="padding-left:40px">
    <p>HERE IS THE ADD GAME INFO PAGE</p>
</div>
<div class = 'form'>
    <form method = 'POST' action =''>
    {{ form.hidden_tag() }}
    <br>
    <h2>Add Game's details</h2>
    <br>
    {{ form.game_name.label }} {{ form.game_name }}
    <br>
    <p></p>
    {{ form.category.label }} {{ form.category }}
    <br>
    <p></p>
    {{ form.publisher.label }} {{ form.publisher }}
    <br>
    <p></p>
    {{ form.release_date.label }} {{ form.release_date }}
    <br>
    <p></p>
    {{ form.submit }}
    </form>
</div>
{% endblock body %}
