{% extends 'home.html'%}
{% block body %}
<div>
    <br>
    <h3>You can Add New Game Here</h3>
</div>
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <h2>Add a Game</h2>
        <br>
        {{ form.game_name.label }} {{ form.game_name }}
        <br>
        <p></p>
        {{ form.category.label }} {{ form.category }}
        <br>
        <p></p>
        {{ form.publisher.label }} {{ form.publisher }}
        <br>
        <p></p>
        {{ form.submit }}
    </form>
</div>
{% endblock body %}